<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.valquev.tec" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.TransportsEnCommun"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.SelectNetwork" />

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <!-- DEBUG -->
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAU4rjFi89g4U95KXf6lyPDrmXBMgAZPZk"/>
        <!-- RELEASE
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyC4Fes4_bt71jc57qApid9iO59OtGx7L7w"/> -->
    </application>

</manifest>
